<div class="text-right">
  <h1>Durham Green Box</h1>
  <h3>Reusable take-out containers in Durham</h2>
  <p></p>

  <h3>How It Works</h3>
    <ul>
      <li>Alert participating food establishment that you are a Green Box member</li>
      <li>Scan code at pick up</li>
      <li>Take food home</li>
      <li>Scan code when you return container at any participating restaurant</li>

    </ul>
  <h3>How to Participate</h3>
    <ul>
      <li>Become a member by joining annually at $25 per year</li>
      <li>Renews automatically</li>
      <li>We have special corporate programs</li>
    </ul>
  <button class="btn btn-success">Sign Up<%= link_to "", new_user_registration_path %></button>
</div>
