<div class="text-center">
  <h1>Durham Food Growlers</h1>
  <h2>A pilot program for sustainable food containers in Durham presented by Food
    FWD and Don’t Waste Durham, 2016</h2>
  <h3>Overview</h3>
  <p>Bull City Food Growlers is a reusable take-out container program that aims to reduce waste and cost for local restaurants and improve the quality of life for Durhamites.</p>
  <p>Bull City Food Growlers are durable and long-lasting take-out containers which are 100% reusable. They can be washed and sanitized in commercial dishwashers. They are used in similar sustainable container programs across the country.</p>
  <h3>How It Works</h3>
  <p>Alert participating food establishment that you are a participant in the program</p>
  <p>Authenticate at pick up</p>
  <p>Take food home</p>
  <p>Return container at participating site</p>
  <p>repeat</p>
  <h3>How to Participate</h3>
  <p>Become a member by joining annually at $18 per box per year</p>
  <p>Renews automatically</p>
  <p>We have special corporate programs</p>
</div>
