
<div class="text-center">
    <%= image_tag 'banner2.jpg', class: "banner img-fluid col-sm-12" %>
  <h1>Durham Green Box</h1>
  <h3>Reusable take-out containers in Durham</h2>
  <p></p>
  <h3>How It Works</h3>
      <p>Alert participating food establishment that you are a Green Box member</p>
      <p>Scan code at pick up</p>
      <p>Take food home</p>
      <p>Scan code when you return container at any participating restaurant</p>
  <h3>How to Participate</h3>
      <p>Become a member by joining annually at $25 per year</p>
      <p>Renews automatically</p>
      <p>We have special corporate programs</p>
  <%= button_to "Sign Up", new_user_registration_path, :method => "get", class: "btn btn-success" %>
</div>
