<div class="text-center">
    <%= image_tag 'greenbamboo.jpg', class: "banner img-fluid col-sm-12" %>
  <p></p>
  <h2>Why participate in Durham Green Box?</h2>
  <p></p>
  <p>Durham GreenBox is a reusable take-out container program that aims to reduce waste and cost for local restaurants and improve the quality of life for Durhamites.</p>

  <p>GreenBoxes are durable and long-lasting take-out containers which are 100% reusable. They can be washed and sanitized in commercial dishwashers. They are used in similar sustainable container programs across the country.</p>

  <p>GreenBox is recruiting Durham restaurants to participate in an initial 1-year pilot program. Restaurants will receive a supply GreenBoxes and signage to promote the program at their business. Durham citizens and businesses subscribe to the GreenBox program for an annual fee. Subscribers receive take-out or leftovers in a GreenBox instead of disposable serviceware whenever they dine at those restaurants. They may return their GreenBox to any participating restaurant.</p>

  <ul>GREENBOX GOALS:

      <li>Reduce waste and divert trash from Durham’s waste stream.</li>
      <li>Save Durham businesses money by reducing disposable serviceware costs.</li>
      <li>Be role models. Durham is a symbol of innovation and progress. We can be leaders in sustainability too!</li>


<p>GreenBox is brought to you by Don’t Waste Durham.</p>
