/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";
@import "subscriptions";

.header-image {
  max-height: 50px;
  margin: 0;
  padding: 0;
}
// .img-responsive {
//   display: inline-block;
//   height: auto;
// }
.south-of-header {
  padding-top: 70px;
}
#desktopshow {
  @include sr-only-focusable;
}
#mobileshow {
  @include sr-only;
}

.text-center {
  text-align: center;
}
.no-margin{
    margin:0px;
}

.no-padding{
    padding: 0px;
}
